.input-form{
    color:black;
    padding: 25px;
    border-radius: 25px;
    border-color: 2px solid gray;
}

.btn-clic2work-search{
    background-color: #ff4b00 ;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.item-responsibe{
    display: none;
}

@media only screen and (max-width: 600px) {
    .item-responsibe{
        display: inline;
        margin:10px;
    }
  }